@import "tailwindcss";

@media print {
  @page {
    margin: 0;
    size: A4;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
    margin: 0;
    padding: 0;
  }

  /* Evita que las secciones se partan a la mitad */
  section,
  .mb-3,
  .mb-6,
  header {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .no-print,
  .print\:hidden {
    display: none !important;
  }

  .shadow-xl,
  .shadow-md {
    box-shadow: none !important;
  }
}
